
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Placement Management System</title>



<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"></link>


</head>
<body>
	<div class="container my-2">

		<h1>Companies List</h1>

		<a th:href="@{/showNewCompanyForm}" class="btn btn-info btn-sm mb-4">
			Add Company </a> <br></br>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>

					<th>Name</th>
					<th>Position</th>
					<th>Qualification</th>
					<th>Location</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="company: ${listCompanies}">

					<td th:text="${company.name}">Name</td>
					<td th:text="${company.position}">Position</td>
					<td th:text="${company.Qualification}">Qualification</td>
					<td th:text="${company.location}">Location</td>
					<td><a th:href="@{/showFormForUpdate/{id}(id=${company.id})}"
						class="btn btn-primary">Update</a> <a
						th:href="@{/deleteCompany/{id}(id=${company.id})}"
						class="btn btn-warning">Delete</a></td>
			</tbody>
		</table>
	</div>
	
</body>
</html>